body{
    margin: 0;
    min-width: 550px;
    text-align: center;
    background-color: #F4F4F4;
}

#container-header{
    padding: 30px 50px;
    background-color: #6943FF;
    color: #fff;
    font-family: inter, Arial, Helvetica, sans-serif;
}

.theme {
    display: flex;
    justify-content: right;
    align-items: center;
}

input{
    background-color: transparent;
    height: 80px;
    min-width: 120px;
    max-width: 200px;
    border: 2px solid #B295FF;
    border-radius: 5px;

    text-align: center;
    color: #FFFFFF;
    font-family: inter, Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
}

input:focus {
    outline: none;
    border: 2px solid #ebe3ff;
}

.button{
    margin-top: 25px;
    background-color: #fff;
    color: #3D3D3D;
    font-family: inter, Arial, Helvetica, sans-serif;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
}

#container-footer {
    padding-top: 15px;
}

.conversions{
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;

    color: #353535;
    font-family: inter, Arial, Helvetica, sans-serif;
    
}

h2{
    color: #5A537B;
}

/* The switch - the box around the slider */
.switch {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 35px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%
}

input:checked + .slider {
    background-color: #2196F3; 
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
